<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <body>
                <div class="card bg-dark text-white">
                    <img src="../../../assets/beaches/beaches02.jpg" class="card-img" alt="..." height="450px" width="100px">
                    <div class="card-img-overlay">
                      <h5 class="card-title-main">Get ready! beach calling</h5>
                    </div>
                  </div>
              </body> 
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/beaches/murud beach/murud.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Murud</h5>
                      <p class="card-text">Murud Beach is a vast expanse of black sand with clear bluish waters stretching almost 1.75 km along the coastline.
                        The Murud Beach is the charming destination, where stretches of sand is surrounded by hills on three sides.</p>
                      <a href="murud" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/beaches/tarkali beach/tarkali3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tarkarli</h5>
                      <p class="card-text">Situated on Tarkarli’s Virgin beach that opens to sparkling blue water.  
                         6 k.m away from Malvan. One can say ‘Sea at your doorsteps’ </p>
                      <a href="tarkarli" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/beaches/dapoli beach/dapoli1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dapoli</h5>
                      <p class="card-text">At a distance of 11 km from Dapoli, 12 km from Anjarle, 69 km from Chiplun, Murud-Dapoli Beach is a serene beach situated near Dapoli
                        in the Ratnagiri district of Maharashtra.</p>
                      <a href="dapoli" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/beaches/hareshwar beach/hari3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Harihareshwar</h5>
                      <p class="card-text">At a distance of 19 km from Shrivardhan, 61 km from Dapoli, 95 km from Raigad, 114 km from Chiplun, 122 km from Alibaug, 132 k from Mahabaleshwar,
                        159 km from Lonavala, 175 km from Pune, and 213 km from Mumbai, Harihareshwar is a coastal town in Raigad district of Maharashtra, India.
                        It is one of the popular weekend getaways from Pune, and Mumbai.</p>
                      <a href="harihareshwar" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/beaches/alibaugh beach/alibaugh2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Alibagh</h5>
                        <p class="card-text">At a distance of 75 km from Lonavala, 102 km from Mumbai, 143 km from Pune, 170 km from Mahabaleshwar and 272 km from Ganpatipule,
                          Alibaug or Alibag is a coastal town and a municipal council in Raigad district of Maharashtra.</p>
                        <a href="alibagh" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mt-4">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Scuba's and More..</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
              