<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/forts/Janjira/Janjira-002.jpg" class="card-img" alt="..." height="350px" width="150px">
                <div class="card-img-overlay">
                <h5 class="card-title-main">Welcome to Janjira!</h5>
                </div>
              </div>

              <div class="p1 mt-3">
                  <p>At a distance of 5 km from Murud, 21 km from Diveagar, 53 km from Alibaug, 84 km from Raigad Fort, 170 km from Mumbai, and 162 km from Pune, 
                    Murud - Janjira is an island fort situated near Murud in Raigad district of Maharashtra. This is one of the top places to visit in Alibaug and also 
                    one of the popular heritage places to visit near Pune and Mumbai. It is one of the must include historical places in Lonavala packages.
                    Janjira Fort is surrounded by the Arabian Sea on all sides and is one of the strongest marine forts of India. The name Janjira is derived from the 
                    Arabic word Jazeera which means island. The original structure was built in the 15th century by a Koli chief as defense against pirates and thieves.
                    Originally a small wooden structure, Janjira Fort was later captivated by Siddi Sirul Khan an Abyssinian Siddi of Ahmednagar kings in the 17th century.
                    During its construction, the fort structure collapsed thrice. Siddi realised that a sacrifice is needed, so he offered his 22 years old son to God.
                    </p>
              </div>
                                                                <!--Page info-->
              <div class="clearfix">
                <img src="../../../../../assets/forts/Janjira/Janjira-001.jpg" class="float-left" height="350px" width="300px">
                <p>The fort was attacked many times by the Portuguese, British and the Marathas but it was successful in resisting attempts to capture. Shivaji's all
                    attempts to capture Janjira Fort failed. When Sambhaji also failed, he built another island fort, known as Kansa or Padmadurg, just 9 km north of Janjira.
                    
                    Spread over 22 acres, the fort has 19 rounded bastions, still intact. Amongst them are the three major cannons, Kalal Bangadi, Landa Kasam and Chavi 
                    built from five metals. The main gate of the fort faces Rajapuri on the shore is a huge structure. There is a small gate towards the open sea for to 
                    escape from the enemies. There are hidden passageways for emergencies. The turrets and towers of the fort were used for keeping ammunitions.
                    
                    Earlier the fort was a full-fledged living place with all the necessary facilities like palaces, quarters for officers, mosque, two small 60-foot deep 
                    (18 m) natural fresh water lakes, etc. There is also a deep well with cold and sweet water, a wonder of nature in the midst of the sea. The outer gate of 
                    the fort has a figure of a tiger with an elephant captured in its claws. The palace of the Nawabs of Janjira is still in good shape.
                    
                    The fort can be reached only by boat from Rajapuri jetty, which is about 2 km from Janjira Fort. 
                    
                </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/forts/Janjira/janjira-003.jpg" class="float-right" height="350px" width="300px">
                <p>
                    Timings: 7 AM to 4.45 PM.<br>

                    Boat Cost: Rs. 30 per Person<br>


                    Distance from Alibaug Bus Stand: 53 Kms<br><br>

                    How to reach:<br>

                    By Air: <br>
                    The nearest airport is at Pune & Mumbai.<br><br>

                    By Rail: <br>
                    Trains arrive here from Pune, Mumbai, Alibaug and other cities.<br><br>

                    By Road:<br>
                    Private transport is more convenient if you would like to visit places around Murud-Janjira fort.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states.<br><br>
                </p>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels And Resorts near Rajmachi. </h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/forts/Janjira/Aqua Arina Holiday Farm House.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Aqua Arina Holiday Farm House</h5>
                      <p class="card-text">Set in Murud in the Maharashtra region, Aqua Arina Holiday Farm House offers accommodation with free private parking.
                           A children's playground can be found at the farm stay, along with a garden.
                    </p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/forts/Janjira/Hotel Sea Panorama.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Hotel Sea Panorama</h5>
                      <p class="card-text">Set in Murud, Hotel Sea Panorama offers beachfront accommodation 1.2 km from Murud Beach and offers various facilities, such as a restaurant, a shared lounge and a garden. Featuring a private beach area, the 2-star hotel has air-conditioned rooms with a private bathroom.
                           The accommodation features evening entertainment and room service.</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img
                    src="../../../../../assets/forts/Janjira/Mai Resort.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Mai Resort</h5>
                        <p class="card-text">Set in Vihur, 2 km from Murud Beach, Mai Resort offers accommodation with a garden, free private parking and a terrace.
                             This 2-star hotel offers valet parking. The hotel features family rooms.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/forts/Janjira/SaffronStays Little Paradise.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">SaffronStays Little Paradise</h5>
                        <p class="card-text">SaffronStays Little Paradise offers pet-friendly accommodation in Murud. 
                            Free private parking is available on site. All units have views of the sea or garden.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/forts/Janjira/prakruti-resort.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Prakruti Resort</h5>
                        <p class="card-text">
                           On a secluded property surrounded by forest, 
                           this tranquil resort is 8 minutes' walk from Kashid Beach and 12 km from the Phansad Wildlife Sanctuary
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/forts/Janjira/On Point Plaza.jpg"
                   class="card-img-top"
                    alt="..." height="250px"
                    />  
                      <div class="card-body">
                        <h5 class="card-title">On Point Plaza</h5>
                        <p class="card-text">
                            On Point Plaza is located in Murud, 2.5 km from Murud Janjira Fort.
                             Free WiFi is offered and free private parking is available on site. 
                             Rooms are fitted with a flat-screen TV.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>