<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/temples/Shirdi.jpg" class="card-img" alt="..."
                    height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Shirdi!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    At a distance of 17 km from Jejuri and 65 km from Pune, Sri Moreshwar temple, also known as Sri
                    Mayureshwar Temple,
                    is a Hindu temple located at Moregaon in Pune district of Maharashtra. This temple is considered to
                    be the first temple among the
                    Ashta Vinayak temples of Lord Ganesha and also one of the popular places of pilgrimage in Pune.

                    The exact date of construction of the temple is unknown, though the Ganapatya saint Morya Gosavi is
                    known to be associated with it.
                    The temple flourished due to the patronage of the Peshwa rulers and descendants of Morya Gosavi.
                    The temple is built with black-stone and has four gates. The temple has four minarets and a 50 feet
                    tall wall around it.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Shirdi2.jpg" class="float-left" height="350px"
                    width="300px">
                <p>
                    The presiding deity of this temple is Lord Mayureshwar (Lord Ganesha) also called as Lord Moreshwar,
                    made of alloy of five metals,
                    with his trunk towards left. Ganesha is depicted armed with a spear, while a cobra encircles his
                    head. Lord Ganesha is flanked by his
                    consorts Riddhi, and Goddess Siddhi. The other important deities of this temple are Lord Shiva,
                    Goddess Parvati, Lord Vishnu, Lord Rama,
                    Goddess Sita, Lord Vignesha, Chintamani, Lord Brahma, Nagna-Bhairava and Nandi. The entrance of the
                    temple contains a 6 feet mouse,
                    the vehicle of Lord Ganesha and the temple also houses the image of peacock. The assembly hall of
                    this temple contains 23 idols of Lord Ganesha,
                    each depicting different forms of Lord.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/shirdi3.jpg" class="float-right" height="350px"
                    width="300px">
                <p>
                    Distance from Pune: 65 kms <br>

                    Timings: 5 AM to 10 PM.<br>

                    Distance (From Pune Railway Station): 65 Kms <br>

                    How to reach:<br>

                    By Road:<br>
                    By Bus - State-run and private bus services are available from many cities in Maharashtra and other
                    states.
                    <br>

                    Self - Transport: <br>
                    Self Transport - Private transport is more convenient if you would like to visit places around
                    Bhimashankar.<br>


                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Saibaba Shirdi/HOTEL DWARKA PARK.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Dwara Park</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Saibaba Shirdi/Sai Neem Tree Hotel.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Sai Neem Tree Hotel
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Saibaba Shirdi/Hotel Sai Jashan.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Sai Jashan
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/Temples hotels/Saibaba Shirdi/Hotel G-Square -.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel G-Square
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>