<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/beaches/alibaugh beach/alibaugh2.jpg" class="card-img" alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                <h5 class="card-title-main">Welcome to Alibaugh!</h5>
                </div>
              </div>

              <div class="p1 mt-3">
                  <p>At a distance of 75 km from Lonavala, 102 km from Mumbai, 143 km from Pune, 170 km from Mahabaleshwar and 272 km from Ganpatipule,
                    Alibaug or Alibag is a coastal town and a municipal council in Raigad district of Maharashtra.
                    It is the headquarters of the Raigad district and is a popular beach destination that can be visited as part of Mahabaleshwar packages
                    as well as Lonavala tour packages. Alibaug is one of the top Maharashtra tourist places situated near Mumbai.
                    Alibaug is surrounded by sea on three sides, it is very commonly known as the 'Goa' of Maharashtra.
                    </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/beaches/alibaugh beach/alibaugh1.jpg" class="float-left" height="350px" width="300px">
                <p>The town was founded in the 17th century by Kanhoji Angre who was the naval chief during the reign of Shivaji Maharaj.
                    Earlier, Alibaug was known as Kolaba, attributed to the Kolaba Fort which was built by Shivaji in 1680 CE.
                    Legend has it that a wealthy Muslim named Ali owned many plantations hence the town derived its name Alibag.
                    Alibaug has witnessed many historic battles including the one at Varsoli between Siddis and Kanhoji Angre.
                    Another was aggression on Kolaba Fort by the English and Portuguese jointly, which they lost. Next was the battle of Chaul between the British and Sakhoji Angre which Sakhoji won and held them captive in Kolaba Fort. Alibag and its surrounding villages are the historic hinterlands of Bene Israeli Jews. 
                    There is a synagogue in the 'Israel Ali' area of the town.                   
                </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/beaches/alibaugh beach/alibaugh4.jpg" class="float-right" height="350px" width="300px">
                <p>
                    Located in the Konkan region of Maharashtra, Alibaug is well known for its beautiful beaches and ancient forts.
                    Among the various Alibaug tourist places, Alibaug Beach, Kihim Beach, Akshi Beach, Mandwa Beach, Kashid Beach, Varsoli Beach,
                    Nagaon Beach and Murud Beach are the popular beaches in Alibaug. Visitors can also visit Khanderi Fort, Kolaba Fort, Murud -Janjira Fort,
                    Vikram Vinayak Temple or Birla Temple, Magnetic Observatory and Korlai Fort.
                    There are many options for tourists to reach Alibaug. Mumbai Airport is the nearest airport which is about 101 km from Alibaug.
                    Pen Railway Station is the nearest railhead which is located at a distance of 28 km from Alibaug. It has regular trains from Mumbai, Ratnagiri,
                    Sindhudurg and Diva Junction. Mumbai Chhatrapati Shivaji Terminus is the major railhead situated at a distance of 102 km from Alibaug.
                    Alibaug is well connected by bus with Mumbai, Lonavala, Pune, Ratnagiri and Kolhapur. Alibaug can also be reached by ferry from
                    the Gateway of India in Mumbai.
                    Homestays, resorts and hotels are available in Alibaug to suit every budget. Local residents also offer rooms in their houses for visitors to stay.

                    The best time to visit Alibag is from October to March while November to February is the peak season.<br><br>


                    Timings : 24 Hrs<br>

                    Distance from Mumbai (102 Kms)<br>

                    How to reach:<br><br>

                    By Air: <br>
                    Nearest Airport: Mumbai - Chhatrapati Shivaji International Airport (101 Kms)<br><br>

                    By Rail: <br>
                    Nearest Train Station: Pen Railway Station (28 Kms), Chhatrapati Shivaji Terminus (102 Kms)<br>
                    Trains arrive here from Chennai, Mumbai, Visakhapatnam via Secunderabad, Mysore and other cities.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states. <br>
                </p>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Alibagh Beach/Tropicana Resort and Spa Alibugh.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Tropicana Resort and Spa Alibaugh</h5>
                      <p class="card-text">Spread across 12 acres of land and located just a 15-minute drive from Mandwa Jetty which connects to Mumbai, 
                        Tropicana Resort & Spa Alibaug is modern property set in the glorious hideaway of Alibaug. 
                        It offers a 24-hour front desk, an outdoor swimming pool and free Wi-Fi throughout the property.</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Alibagh Beach/Ananth villa.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Ananth Villa</h5>
                      <p class="card-text">Towering walls of the Janjira Island Fort, sun-kissed blooming beaches,
                         ornate Hindu temples and engrossing kayaking activities at the waterfronts welcome your arrival at Anant Villa in Alibaug.
                        Guests can enjoy a private time at the balcony of the rooms offering scenic views.
                        Nagaon Beach Alibaug known for its peculiar sands and surroundings is only 1 km away.
                        The property boasts of an outdoor pool where one can unwind and relax.</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Alibagh Beach/Ashish-bagh.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Ashish Baugh</h5>
                        <p class="card-text">Located in Alibaug, Ashish Baug provides a garden and terrace. 
                          Featuring room service, this property also provides guests with a children's playground.
                           Private parking can be arranged at an extra charge.
                          Featuring a private bathroom with a shower and free toiletries, rooms at the resort also offer a garden view. 
                          At Ashish Baug, each room has a seating area.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Alibagh Beach/Raddison blu.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Radisson Blu Resort and Spa</h5>
                        <p class="card-text">Featuring an outdoor swimming pool, a spa and health club and fitness center, the Radisson Blu Resort and Spa,
                           Alibaug provides free Wi-Fi in the public areas. It houses 3 dining options. 
                          Free parking facility is available.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Alibagh Beach/ParadiseVilla.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Paradise Villa and Resort</h5>
                        <p class="card-text">Located in Alibaug, Paradise Villas & Resort features a garden and terrace.
                           Featuring a restaurant, the 3-star resort has air-conditioned rooms with a private bathroom. 
                          The accommodations provides a 24-hour front desk, room service and organizing tours for guests.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Alibagh Beach/Elysium Resort Alibaug.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Elysium Resort Alibaug</h5>
                        <p class="card-text">Elysium Resort Alibaug has a restaurant, outdoor swimming pool, a shared lounge and garden in Alibaug.
                           Boasting family rooms, this property also provides guests with a terrace.
                           The accommodations features a 24-hour front desk, room service and currency exchange for guests.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>