<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="fa fa-phone fa-2x ml-2"> For any Enquiry Contact or Pin us at: </h2><br><br>

            <a href="https://www.linkedin.com/in/divyanshu-kumar-singh-2b2701182/"> <i class="fa fa-linkedin fa-4x ml-3" aria-hidden="true"></i></a>

            <a href="https://github.com/Mrpool96/"> <i class="fa fa-github fa-4x ml-3" aria-hidden="true"></i></a>

            <a href="https://kite.zerodha.com/holdings"> <i class="fa fa-twitter fa-4x ml-3"></i></a>

        </div>
    </div>
</div>