<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/hillstation/Lonavala-1.jpg" class="card-img" alt="..." height="350px"
                    width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Lonavala!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    At a distance of 67 km from Pune, 95 km from Mumbai, and 282 km from Aurangabad, Lonavala is a
                    beautiful hill station in the Pune district of Maharashtra.
                    It lies at an altitude of 622 m in the Sahyadri Ranges which separates the Deccan Plateau and the
                    Konkan Coast. Lonavala is one of the top hill stations
                    in Maharashtra, and also among the famous places to visit in Maharashtra.

                    The twin hill stations of Lonavala and Khandala are the popular tourist places to visit near Pune &
                    Mumbai. The hill station is spread over an area
                    of 38 square km. The name of the city is derived from the Sanskrit word 'Lonavali', which refers to
                    a group of caves. The name was given to the place
                    due to the presence of many caves in and around the city. Lohagad Fort, Karla Caves and Rajmachi
                    Point are some of the best places to include in Lonavala
                    packages.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/hillstation/Lonavala-2.jpg"
                    class="float-left" height="350px" width="300px">
                <p>

                    Lord Elphinstone, who was the Governor of the Bombay Presidency, developed Lonavala along with
                    Khandala in 1871. Present-day Lonavala was a part of the
                    Yadava Dynasty, which was taken over by the Mughals and then Marathas ruled before it eventually
                    fell into the hands of the British. The forts in the
                    region and the Malva warriors played an important role in the history of the Maratha and Peshwa
                    empires.

                    Lonavala has several tourist places in the form of caves, lakes, forts, and waterfalls. Some of the
                    best places to visit in Lonavala are Lohagad Fort,
                    Rajmachi Point, Karla Caves, Valvan Dam, Lonavala Lake, Tiger's Leap, Bhaja Caves, Rajmachi Fort,
                    Bhushi Dam, Korigad Fort, Kune Waterfalls, Tikona Fort,
                    Visapur Fort, Bedsa Caves, and Tung Fort.

                    The best time to visit Lonavala and Khandala is during the monsoon, between July - September when
                    the scenic spots become lush green and the waterfalls
                    are in full flow.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/hillstation/Lonavala-3.jpg"
                    class="float-right" height="350px" width="300px">
                <p>

                    Timings: 24 Hrs<br>

                    Distance from Pune : 67 Kms <br>

                    How to reach:<br>

                    By Air: <br>
                    The nearest airport is at Pune(69Kms) and daily flights from other cities as well.<br><br>

                    By Rail: <br>
                    Trains arrive here from Kochi, Delhi, Goa and other cities.<br><br>

                    By Bus:<br>
                    Lonavala is well connected by bus with Mumbai, Pune, Satara, Goa, Shirdi, Ahmedabad, Bangalore,
                    Jodhpur, Rajkot and Mangalore.
                    <br>

                    By Road:<br>
                    Private transport is more convenient if you would like to visit places around Lonavala.<br>


                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Hill Stations Hotels/Lonavala/The Orchid Lonavala.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">The Orchid Lonavala</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Hill Stations Hotels/Lonavala/Treebo Trend Five Elements,.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Treebo Trend Five Elements
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Hill Stations Hotels/Lonavala/Hotel Mulberry Konnect.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Mulberry Konnect
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/Hill Stations Hotels/Lonavala/Lonavala Holiday Homes.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Lonavala Holiday Homes
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>