<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/beaches/tarkali beach/tarkali3.jpg" class="card-img" alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                  <h5 class="card-title-main">Welcome to Tarkarli!</h5>
                </div>
              </div>

              <div class="p1 mt-3">
                  <p>Situated on Tarkarli’s Virgin beach that opens to sparkling blue water.  Just 6 k.m away from Malvan. One can say ‘Sea at your doorsteps’ - just
                    walk through your Resort and be on the beach any time you wish.   Tarkarli Beach is God-gifted with natural safety,
                    famous for its crystal clarity water that one can actually see the seabed up to a depth of 20 ft. and its silver sand.
                    You can enjoy snorkelling scuba-diving, backwaters & boating with dolphins in your company
                    </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/beaches/tarkali beach/tarkali4.jpg" class="float-left" height="350px" width="300px">
                <p>Tarkarli is a narrow stretch of beach with pristine waters, located at the convergence of the Karli River and the Arabian Sea.
                    It is 546 k.m. away from Mumbai, 6 kms. south of Malvan, on the west coast of India.
                    This place has gained prominence because of its transparently clear seas, where on a fairly sunny day,
                    one can see the sea- bed up to a depth of 20 feet. Takarali beach is known for is clearness of water. One can sometimes see the seabed unto a depth of 20 ft. If we look the beach panoramically, one can see the serene beauty with shuru trees and wide Karli River at the background. 
                    The beautiful sailboats and the tiny magnificent islands make the beach more delightful..
                    This beach can be rightly called as ‘Queen Beach’ of Sindhudurg.
                    Sea and sand blending in enchanting natural harmony, gracefully cruising boats in calm and cool river waters add to the beauty of this beach.
                </p>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                      <img  src="../../../../../assets/OneDrive-2021-03-22/hotels/Tarkarli Beach/The Tent Resort.jpg" class="card-img-top"alt="...">  
                    <div class="card-body">
                      <h5 class="card-title">The Tent Resort</h5>
                      <p class="card-text">Located in Malvan in the Maharashtra region, The Tent Resort, Malvan-Tarkarli provides accommodation with free WiFi and free private parking.
                         Guests at the tented camp can enjoy a à la carte...</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img  src="../../../../../assets/OneDrive-2021-03-22/hotels/Tarkarli Beach/Vickys guest house.jpg" class="card-img-top"alt="..."> 
                    <div class="card-body">
                      <h5 class="card-title">Vickey's Guest House</h5>
                      <p class="card-text">Set in Malvan, 1.6 km from Chiwla Beach, Vickys guest house offers accommodation with a fitness centre, free private parking, a garden and a terrace.
                      </p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img  src="../../../../../assets/OneDrive-2021-03-22/hotels/Tarkarli Beach/Konkan Villa Dream.jpg" class="card-img-top"alt="..."> 
                      <div class="card-body">
                        <h5 class="card-title">Kokan Villa Dream</h5>
                        <p class="card-text">Set in Malvan, 1.2 km from Tarkarli Beach, Konkan Villa Dream offers accommodation with a restaurant, free private parking, a garden and a terrace.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img  src="../../../../../assets/OneDrive-2021-03-22/hotels/Tarkarli Beach/Sunshine Homestay Malvan.jpg" class="card-img-top"alt="..."> 
                      <div class="card-body">
                        <h5 class="card-title">Sunshine HomeStay Malvan</h5>
                        <p class="card-text">Set in Malvan, just 700 metres from Chiwla Beach, 
                          Sunshine Homestay Malvan offers beachfront accommodation with a restaurant,
                           a garden, a private beach area and free WiFi.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img  src="../../../../../assets/OneDrive-2021-03-22/hotels/Tarkarli Beach/Shree Laxmi.jpg" class="card-img-top"alt="..."> 
                      <div class="card-body">
                        <h5 class="card-title">Shree Laxmi Resort</h5>
                        <p class="card-text"> Shree Laxmi Resort offers beachfront accommodation with a restaurant, a garden, a private beach area and free WiFi..</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>

          <!--<a href=" " class="btn btn-primary mt-4">Book Destination!</a>
            <a href="hotel-reservation-tarkarli" class="btn btn-danger ml-4 mt-4">Reserve Your Stay!</a>-->
        </div>
    </div>
</div>