<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <body>
                <div class="card bg-dark text-white">
                    <img src="../../../assets/forts.jpg" class="card-img" alt="..." height="500px" width="130px">
                    <div class="card-img-overlay">
                      <h2 class="card-title-main">Forts Are Calling!</h2>

                    </div>
                  </div>
              </body> 
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/forts/Raigad/Raiagad-001.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Raigad</h5>
                      <p class="card-text">Raigad was the capital of the Marathas under Chhatrapati Shivaji Maharaj. 
                        Britishers named it 'Gibralter of the East' as the well-fortified structure atop a hill that had repeatedly defied attackers.
                         Shivaji built the fort in the 14th century.</p>
                      <a href="raigad" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/rajmachii.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rajmachi</h5>
                      <p class="card-text">Rajmachi is a small village situated in the Sahyadri mountain range of the Konkan region of Maharashtra. 
                        Rajmachi is famous for the historical fortress which has two fortified peaks - 
                        Shrivardhan and Manaranjan forts, located near two famous hills of Lonavala and Khandala.</p>
                      <a href="rajmachi" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/forts/Harishchandragad/Harishchandragad-04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Harishchandragad</h5>
                      <p class="card-text">Harishchandragad Fort is famous for its height, its toughness and the famous 'Konkan Kada'. Harishchandra Temple is known to be the pride of the fort.
                      </p>
                      <a href="harishchandragad" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/forts/Kalsubai/kalsubai-005.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Kalsubai</h5>
                      <p class="card-text">Kalsubai is a mountain range located in Maharashtra and is the highest peak of the state. The summit of the mountain range is about 5400 feet high. This tourism place of the state is popularly known as the Everest of Maharashtra. 
                        This mountain range mostly attracts the trekkers determined to reach the summit.</p>
                      <a href="kalsubai" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/forts/Janjira/janjira-003.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Janjira</h5>
                        <p class="card-text">Murud-Janjira is located 60 km away from Alibaug, Maharashtra.
                           This small village is on the top of a hillock. 
                           It is believed that the rulers of Ahmednagar constructed the fort in the 15th century.</p>
                        <a href="janjira" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/forts.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Rajgad</h5>
                        <p class="card-text">Rajgad (literal meaning Ruling Fort) is a hill fort situated in the Pune district of Maharashtra,
                          The fort is a significant tourist destination and is most sought after especially during monsoon.</p>
                        <a href="rajgad" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
              