<div class="container">
    <div class="col-md-12">
        <h2>Best Hotels In Murud To Stay in,</h2>
        <div class="card bg-dark text-white">
            <img src="../../../../../assets/murud2.JPG" class="card-img" alt="..." height="350px" width="100px">
            <div class="card-img-overlay">
              <h5 class="card-title-main">Best Hotels In</h5>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Aqua Arina Holiday Farm House.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aqua Arina Holiday Farm-House</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href=" " class="btn btn-primary">Room Booking</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/SaffronStays Little Paradise.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SaffronStays Little Paradise</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href=" " class="btn btn-primary">Room Booking</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Rutu Enclave.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rutu Enclave</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  <a href=" " class="btn btn-primary">Room Booking</a>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/SPOT ON 43838 Hotel Red Rose.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Hotel Red Rose</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <a href=" " class="btn btn-primary">Room Booking</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Hotel Grand Murud janjira.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Hotel Grand Murud Janjira</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <a href=" " class="btn btn-primary">Room Booking</a>
                  </div>
                </div>
              </div>
            <div class="col">
              <div class="card">
                <img src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Murud Marina Hotel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Murud Madina Hotel</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href=" " class="btn btn-primary">Room Booking</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
