<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/forts/Kalsubai/kalsubai-06.webp" class="card-img" alt="..." height="350px" width="150px">
                <div class="card-img-overlay">
                <h5 class="card-title-main">Welcome to Kalsubai!</h5>
                </div>
              </div>

              <div class="p1 mt-3">
                  <p>
                    To reach the summit there are various trekking routes. The most popular route starts from the village of Baari which is about 10 km from Bhandardara. 
                    To reach the base village of Baari, one has to travel to Igatpuri on the Mumbai Nashik route. The Waki River, a tributary of Pravara, takes origin on 
                    its eastern slope and flows as a stream through the outer fringes of Baari. There is a Hanuman temple near to the stream and it provides an important 
                    landmark to commence the trek as well as a resting post for those returning from their trek. The route from this temple takes the trekkers straight to 
                    the summit. The trek along this route is a mix of easy to moderate slopes as well as treacherous rocky outcrops overlooking the valley below.
                    Authorities have built three iron ladders along the vertical hill slopes to make the trekking route convenient and safe. It takes 3 hours to reach 
                    Kalsubai summit from Baari village.
                    </p>
              </div>
                                                                <!--Page info-->
              <div class="clearfix">
                <img src="../../../../../assets/forts/Kalsubai/kalsubai-003.jpeg" class="float-left" height="350px" width="300px">
                <p>The route via Indore is relatively unexplored as not many people are aware of it. The route via Indore is raw with stone steps and a huge iron 
                    chain for support at dangerous patches. One can also do a night trek in winter and enjoy the beautiful sunrise at Kalsubai. It gets very cold atop 
                    Kalsubai with strong wind. There are some shops which sell some snacks and packaged drinking water.
                    The best time to Kalsubai trek is from September to February.
                    Janjira Fort and The Fall beneath the fort has it's own stories to tell about bravery and sacrifices of the brave
                    ancestors for the hope of freedom. 
                </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/forts/Kalsubai/kalsubai-004.jpeg" class="float-right" height="350px" width="300px">
                <p>
                    Timings: 4:15 AM to 11 PM.<br>

Distance from Bhandardara: 12 Kms<br><br>

How to reach:<br>

By Air: <br>
The nearest airport is at Pune.<br><br>

By Rail: <br>
Trains arrive here from Pune, Mumbai, Visakhapatnam via Bhandardara, Mysore and other cities.<br><br>

By Road:<br>
Private transport is more convenient if you would like to visit places around Kalsubai Trek.<br><br>

By Bus:<br><br>
State-run and private bus services are available from many cities in Maharashtra and other states.<br><br>

By Walk & Trek :<br>
You can visit here by walk and trek also (upto your prefrences)<br><br>
                </p>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels And Resorts near Kalsubai. </h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/forts/Kalsubai Trek/Bodh-Valley-Resort-igatpuri.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Bodh-Valley-Resort-igatpuri</h5>
                      <p class="card-text">Bodh Valley offers air-conditioned rooms in Igatpuri. 
                          Each accommodation at the 3-star resort has mountain views, and guests can enjoy access to an outdoor swimming pool and to a garden.
                    </p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/forts/Kalsubai Trek/Kalsubai Camping.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Kalsubai Camping</h5>
                      <p class="card-text">Located in Igatpuri in the Maharashtra region, Kalsubai Camping provides accommodation with free private parking.
                           A vegetarian breakfast is available daily at the camping.</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img
                    src="../../../../../assets/forts/Kalsubai Trek/Manas Lifestyle Resort.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Manas Lifestyle Resort</h5>
                        <p class="card-text">Spreading across 15 acres of land, Manas Lifestyle Resort,
                             Igatpuri features tranquil accommodation surrounded by hills, deep gorges and fresh air.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/forts/Kalsubai Trek/Manas Resort with Petting Zoo.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Manas Resort with Petting Zoo</h5>
                        <p class="card-text">Offering an indoor pool and a spa and wellness centre, Manas Resort with Petting Zoo,
                             Igatpuri features meeting facilities, a games room consisting of darts and table tennis.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/forts/Kalsubai Trek/Rainforest Resort and Spa.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Rainforest Resort and Spa</h5>
                        <p class="card-text">
                            Offering an outdoor swimming pool and a range of activities like table tennis, darts and billiards,
                             Rain Forest Resort is surrounded by the beautiful
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/forts/Kalsubai Trek/Tropical Retreat.jpg"
                   class="card-img-top"
                    alt="..." height="250px"
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Tropical Retreat</h5>
                        <p class="card-text">
                            Tropical Retreat has a restaurant, outdoor swimming pool, a fitness centre and bar in Igatpuri.
                             This 4-star resort offers a garden.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>