<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/temples/Bhimashankar Temple/Bhimashankar.jpg" class="card-img" alt="..."
                    height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Bhimashankar!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    A pristine natural environment with hills, waterfalls and forests; a wild life sanctuary and an
                    ancient temple!
                    Bhimashankar offers the ideal setting to find spirituality. It is also the perfect place for
                    adventure lovers with a plethora of treks.
                    Moreover this is where you can find the shekru the giant flying squirrel which is also the state
                    animal of Maharashtra.

                    Nestled in dense forests, the Shiva temple in Bhimashankar is the sixth jyotirlinga and one of the
                    most popular places for the worship of Lord Shiva.
                    It is believed that the original temple of Bhimashankar was built in 12th century CE.
                    However, no material remains dating to that period have been found since the temple has undergone
                    many alterations over a period of time.
                    The temple was renovated by Chimaji Antaji Bhide Naik in 1733 CE followed by some repair works by
                    Dikhit Patwardhan in 1766 CE.
                    A well was constructed in the complex by Raghunathrao Peshwa.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Bhimashankar Temple/Bhimashankar1.jpg" class="float-left"
                    height="350px" width="300px">
                <p>
                    The famous minister of the Peshwas, Nana Phadnavis carried out a lot of renovations, including the
                    construction of the shikhara.

                    The present temple sanctum (garbhagriha) and the shikhara are built in the Nagara or
                    Indo-Aryan style and have a strong influence of Rajasthan and Gujarat on the figurines and motifs of
                    the temple.
                    The exterior walls of the sanctum are adorned with scenes from the Ramayana, Krishna Leela, Shiv
                    Leela and Dashavataras.
                    Inscriptions in the courtyard give a record of grants given and a large bell confiscated from the
                    Vasai fort
                    by the Maratha Commander Chimaji Appa hangs in front of the sabhamandapa.

                    Bhimashankar is also the perfect place to combine adventure and trekking.
                    Monsoon is a good season to enjoy the region’s stunning natural beauty.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Bhimashankar Temple/Bhimashankar2.jpeg" class="float-right"
                    height="350px" width="300px">
                <p>
                    Distance from Mumbai: 213 kms <br>

                    Timings: 24 Hrs<br>

                    Distance from Mumbai (213 Kms) & Pune (110 Kms). <br>

                    How to reach:<br>

                    By Air: <br>
                    Bhimashankar is 110 km from Pune. <br><br>

                    By Rail: <br>
                    Nearest Train Station: Pune (110 Kms). The nearest railway Station is Pune<br>
                    Trains arrive here from Chennai, Mumbai, Visakhapatnam via Secunderabad, Lucknow and other
                    cities.<br><br>

                    By Bus:<br>
                    You can take the route of Pune-Rajgurunagar-Manchar- Ghodegaon–Pokhari Ghat Bhimashankar.
                    State Transport buses are available at regular intervals from the Shivajinagar Bus Terminus and the
                    last bus is at 5 pm.
                    Private transport is more convenient if you would like to visit places around Bhimashankar.
                    <br>

                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Bhimashankar Temple/Dune Barr House.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Dune Barr House</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Bhimashankar Temple/The Whey Side.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">The Whey Side
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Bhimashankar Temple/EKO STAY- NEST VILLA.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">EKO STAY- NEST VILLA
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/Temples hotels/Bhimashankar Temple/Santoni Farms.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Santoni Farms
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>