<div class="container">
    <h3>Update Hotel</h3>
    <button (click)="list()" class="btn btn-primary float-right">Back to Hotel List</button><br><br>
    <div style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="hotel">Hotel Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="hotel.hotelName" value="hotel.hotelName" name="name">
            </div>
            <div class="form-group">
                <label for="hotel">Hotel Description</label>
                <input type="text" class="form-control" id="desc" required [(ngModel)]="hotel.hotelDesc" name="desc">
            </div>
            <div class="form-group">
                <label for="hotel">Hotel Location</label>
                <input type="text" class="form-control" id="location" required [(ngModel)]="hotel.hotelLocation" name="location">
            </div>
            <div class="form-group">
                <label for="hotel">Hotel Category</label>
                <select required [(ngModel)]="hotel.hotelCategory" class="form-control" name="category" id="category">
          <option value="Premium" >Premium</option>
          <option value="Deluxe" >Deluxe</option>
          <option value="Normal" >Normal</option>
        </select>
            </div>
            <div class="form-group">
                <label for="hotel">Hotel Price</label>
                <input type="text" class="form-control" id="price" required [(ngModel)]="hotel.hotelPrice" name="price">
            </div>
            <div class="form-group">
                <label for="hotel">Hotel Image URL</label>
                <input type="text" class="form-control" id="image" required [(ngModel)]="hotel.hotelImage" name="image">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>