<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/temples/Dagdusheth ganapathi/Dagdusheth.jpg" class="card-img" alt="..."
                    height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Dagdusheth!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    At a distance of 4 km from Pune Junction, Dagdusheth Halwai Ganapathi Temple is an ancient Hindu
                    temple situated
                    in Budhwar Pet near Shaniwar Wada in Pune City. This is one of the important Ganesh temples in
                    Maharashtra and
                    also one of the popular tourist places in Pune.

                    Sri Dagdusheth Temple is dedicated to the Hindu God Ganesh. The temple was built by Dagdusheth
                    Halwai,
                    a sweet seller. In late 1800s, he lost his son in a plague epidemic. This caused Dagdusheth and his
                    wife to go into deep depression.
                    To heal them, he built the Ganesh temple in 1893 AD according to their Guru Sri Madhavnath Maharaj's
                    advice.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Dagdusheth ganapathi/Dagdusheth1.jpg" class="float-left"
                    height="350px" width="300px">
                <p>
                    The temple is simple and yet beautiful, that allows the devotees to catch a glimpse of the Ganesh
                    idol and watch the aarti and the puja even from road.
                    The Ganesh idol is 7.5 feet tall and 4 feet wide. The idol of Ganapathi has a solid gold ear and is
                    decorated with nearly 8 kilos of gold.
                    The Ganesh idol, adorned by gold and precious jewellery worth of 1 crore. The temple is visited by
                    thousands of pilgrims every year
                    during annual 10 day Ganapathi festival.

                    Presently, the temple is under the administration of Halwai Ganapathi Trust.
                    One of the richest in Maharashtra, the trust organises various cultural activities like singing
                    concerts,
                    bhajans, Atharvasheersh recitation etc. The trust also operates an old age home - Pitashree at
                    Kondhwa, ambulance service for poor and
                    health clinics in tribal belts of Pune.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Dagdusheth ganapathi/Dagdusheth2.jpg" class="float-right"
                    height="350px" width="300px">
                <p>
                    Timings: 6AM to 11PM<br>

                    Distance (From Pune Railway Station): 4 Kms <br>

                    How to reach:<br>

                    By Air: <br>
                    By Road : Taxi, Cab, Self Transport, Walk and Trek.

                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Dagdusheth Halwai Ganapathi Temple/Bauhinia.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Bauhinia Hotel</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Dagdusheth Halwai Ganapathi Temple/Centro.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Centro
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Dagdusheth Halwai Ganapathi Temple/Hotel Ketan.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Ketan
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/Temples hotels/Dagdusheth Halwai Ganapathi Temple/Shantai Hotel.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Shantai Hotel
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>