<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/Koyna Wildlife Sanctury/KoynaWildlife Sanctuary-02.jpg" class="card-img"
                    alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Karna-wildlife-sanctuary!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    Koyna Wildlife Sanctuary thrives in a dense, green forest reserve situated in the heart of Satara
                    district of Maharashtra. The protected forest area
                    was declared a Wildlife Sanctuary in the year 1985 by the government of India. It is centered in the
                    Western Ghats with abundant water flow and rich
                    vegetation, proving to be a thriving environment for animals to survive in.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Koyna Wildlife Sanctury/KoynaWildlife Sanctuary-03.jpg"
                    class="float-left" height="350px" width="300px">
                <p>
                    The entire sanctuary spans an area of 423 square kilometers and ranges in elevations between 600
                    meters to 1000 meters of altitude.
                    The sanctuary is nourished by several water bodies, amongst which rivers Kandati, Koyna and Solashi
                    are primary water sources. A wide range of
                    fauna have been found in the region and are protected by the government and forest development
                    authority. Some of the most spectacular species found
                    in Koyna Wildlife Sanctuary include Royal Bengal Tiger and King Cobra. In 2012, UNESCO declared
                    Koyna Wildlife Sanctuary as a World Heritage site,
                    considering the number of architectural findings in the area.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Koyna Wildlife Sanctury/KoynaWildlife Sanctuary-04.jpg"
                    class="float-right" height="350px" width="300px">
                <p>
                    Distance from Pune: 181 Kms <br>

                    Timings: 7 AM to 6 PM.<br>

                    How to reach:<br>

                    By Air: <br>
                    The nearest airport is at Pune. <br><br>

                    By Rail: <br>
                    Trains arrive here from Pune, Mumbai, Kolhapur and other cities.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states.
                    <br>

                    By Road:<br>
                    Private transport is more convenient if you would like to visit places around Koyna Wildlife
                    Sanctuary.<br>

                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Koyna Wildlife Sanctuary/Backwater Cabins.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Backwater Cabins</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Koyna Wildlife Sanctuary/Forest Escapes Koyna.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Forest Escapes Koyna
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Koyna Wildlife Sanctuary/Riverside Inn.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Riverside Inn
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Koyna Wildlife Sanctuary/lakewood resort.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Lakewood Resorts
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>