<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/Karnala Bird wildlife sanctuary/Karnala Bird.jpg" class="card-img"
                    alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Karnala-wildlife-sanctuary!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    Karnala was declared a bird sanctuary in 1968 as the first one of its kind in Maharashtra. During
                    its initial phase, the sanctuary covered an area
                    of 4.45 sq. km and in 2003 this was increased so that it now spreads across 12.11 sq. km. This bird
                    sanctuary is situated below the Karnala Fort.
                    The bird sanctuary is a popular destination for bird-watchers and hikers in the Mumbai area.

                    The Karnala Bird Sanctuary is home to over 150 species of resident and 37 species of migratory
                    birds. In the monsoon season, travellers can spot a
                    vivid collection of bird species such as the racket-tailed drongo, golden backed woodpecker and
                    heart-spotted woodpecker. Three rare birds, the ashy
                    minivet, three-toed kingfisher and Malabar trogon have been sighted here.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Karnala Bird wildlife sanctuary/Karnala Bird-3.jpg" class="float-left"
                    height="350px" width="300px">
                <p>
                    In the winter season, many migratory birds can be seen in addition to the
                    resident birds. The migrant birds include a variety of birds such as the blackbird, blue-headed
                    rock-thrush, blue throat, red breasted flycatcher
                    and black headed cuckoo-shrike, to name a few.

                    The sanctuary itself comprises moist deciduous forest and the forest department has made efforts to
                    educate the visitors by tagging several trees
                    inside the forest. While it is a bird sanctuary, it also provides shelter to wildlife animals. Wild
                    boars, langur and rhesus monkeys are common
                    wildlife found here.

                    There are some interesting trails that the sanctuary offers with the Hariyal Nature Trail being the
                    easiest. This is only a kilometer long but
                    offers a great bird-sighting experience. For those looking for a longer walk, the Mortaka Trail,
                    which covers a length of 6 km through the sanctuary
                    is an ideal option. For the trekkers the Karnala Fort Trail is the best.

                    The sanctuary is situated close to Mumbai - Pune route.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Karnala Bird wildlife sanctuary/Karnala Bird-2.jpg" class="float-right"
                    height="350px" width="300px">
                <p>
                    Entry Fee: <br>
                    Rs.20 per Adults, Rs. 15 per Child, Rs. 15 per Two Wheeler and Rs. 50 per Four Wheeler.<br>

                    Timings: 8 AM to 6 PM<br>


                    Distance from Panvel: 13 Kms <br>

                    How to reach:<br>

                    By Air: <br>
                    The nearest airport is at Pune. <br><br>

                    By Rail: <br>
                    Trains arrive here from Pune, Mumbai, Lonavala, Karnala and other cities.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states.
                    <br>

                    By Road: <br>
                    Private transport is more convenient if you would like to visit places around Karnala Bird
                    Sanctuary.

                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Karnala Bird Sanctuary/GK Villa.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">GK Villa</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Karnala Bird Sanctuary/The Park Navi Mumbai.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">The Park Navi Mumbai
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Karnala Bird Sanctuary/Ibis Navi Mumbai.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Ibis Navi Mumbai
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Karnala Bird Sanctuary/Royal Tulip Navi Mumbai.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Royal Tulip Luxury Hotels
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>