            <div class="container-fluid">   
                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-dark text-white">
                            <img src="../../../../../assets/beaches/hareshwar beach/hari1.jpg" class="card-img" alt="..." height="350px" width="100px">
                            <div class="card-img-overlay">
                            <h5 class="card-title-main">Welcome to Harihareshwar!</h5>
                            </div>
                          </div>
            
                          <div class="p1 mt-3">
                              <p>At a distance of 19 km from Shrivardhan, 61 km from Dapoli, 95 km from Raigad, 114 km from Chiplun, 122 km from Alibaug, 132 k from Mahabaleshwar,
                                159 km from Lonavala, 175 km from Pune, and 213 km from Mumbai, Harihareshwar is a coastal town in Raigad district of Maharashtra, India.
                                It is one of the popular weekend getaways from Pune, and Mumbai.
                                
                                Situated on the Konkan coast, Harihareshwar is surrounded by four hills named Harihareshwar, Harshinachal, Bramhadri, and Pushpadri.
                                The river Savitri enters the Arabian Sea from the town of Harihareshwar. This is one of the best Maharashtra beach destinations.
                                This beach town is often called Southern Kashi because it is home to the Harihareshwar temple dedicated to Lord Shiva.
                                The town is said to have been blessed by Lord Shiva. Hence Harihareshwar is often referred to as Devghar or 'house of God'.
                                
                                </p>
                          </div>
                          <div class="clearfix">
                            <img src="../../../../../assets/beaches/hareshwar beach/hari.jpg" class="float-left" height="350px" width="300px">
                            <p>Harihareshwar is a treat for people looking for spiritual relief or a beach holiday. Harihareshwar alone has two beaches − one,
                                a straight beach about 2.5 km long in front of Harihareshwar Temple, and the other beach is about 2 km in an L shape just in front of MTDC Resort.
                                The black sandy beach of Harihareshwar is a place where tourists claim to have experienced unmatched silence and peace on the quiet,
                                unpolluted beach bed as part of Harihareshwar Tour Packages. The sea at Harihareshwar is almost always turbulent.
                                The coast is rocky and the force of the waves considerable. Tourists can enjoy speed boat rides and water scooter rides at this beach.
                                
                                Harihareshwar comes across as a pleasant surprise with some of the most peaceful and beautiful beaches along the Konkan Coast.
                                Harihareshwar Beach, along with Shrivardhan and Diveagar Beaches forms a popular weekend beach destination from Pune and Mumbai.
                                Diveaghar Beach & Temple, Kondvil Beach, Kelshi Beach, Velas Beach, Srivardhan Beach, Bankot Fort, and Ganesh Gully are some of
                                the prominent places to visit in Harihareshwar.
                            </p>
                          </div>
                          <div class="clearfix">
                            <img src="../../../../../assets/beaches/hareshwar beach/hari2.jpg" class="float-right" height="350px" width="300px">
                            <p>
                               Timings:  24 Hrs<br>

                                Distance from Mumbai (213 Kms) & Pune (175 Kms)<br>

                                How to reach:<br>

                                By Air: <br>
                                Nearest Airport: Mumbai - Chhatrapati Shivaji International Airport (207 Kms)<br><br>

                                By Rail: <br>
                                Nearest Train Station: Mangaon (60 Kms)<br>
                                Trains arrive here from Chennai, Mumbai, Visakhapatnam via Secunderabad, Lucknow and other cities.<br><br>

                                By Bus:<br>
                                State-run and private bus services are available from many cities in Maharashtra and other states. <br>

                            </p>
                          </div>
                          <div class="card mt-5">
                            <h5 class="card-header">Hotels near Harihareshwar</h5>
                            <div class="card-body">
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="card">
                                <img
                                src="../../../../../assets/OneDrive-2021-03-22/hotels/Harihareshwar Beach/Tranquil.jpg"
                               class="card-img-top"
                                alt="..."
                                />  
                                <div class="card-body">
                                  <h5 class="card-title">Tranquil</h5>
                                  <p class="card-text">Facing the beachfront in Harihareshwar, 
                                    Tranquil Beach Resort features a restaurant and a garden. 
                                    Featuring family rooms, this property also provides guests with a children's playground.
                                    </p>
                                  <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card">
                                <img
                                src="../../../../../assets/OneDrive-2021-03-22/hotels/Harihareshwar Beach/Naumi residency.jpg"
                               class="card-img-top"
                                alt="..."
                                />  
                                <div class="card-body">
                                  <h5 class="card-title">Naumi Residency</h5>
                                  <p class="card-text">Naumi resiency features air-conditioned rooms in Srīvardhan. 
                                    Among the various facilities are a restaurant and a garden. All rooms are equipped with a balcony.
                                  </p>
                                  <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <img
                                src="../../../../../assets/OneDrive-2021-03-22/hotels/Harihareshwar Beach/ShriVilla.jpg"
                               class="card-img-top"
                                alt="..."
                                />  
                                  <div class="card-body">
                                    <h5 class="card-title">Shri-Villa</h5>
                                    <p class="card-text">Offering free WiFi and garden views,
                                       ShriVilla is an accommodation situated in Srīvardhan. This villa has a garden and free private parking.
                                      .</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="card mt-3">
                                    <img
                                src="../../../../../assets/OneDrive-2021-03-22/hotels/Harihareshwar Beach/HOTEL SEA WIND.jpg"
                               class="card-img-top"
                                alt="..."
                                />  
                                  <div class="card-body">
                                    <h5 class="card-title">Hotel Sea Wind</h5>
                                    <p class="card-text">An exclusive beach resort with luxurious rooms & suites equipped with star amenities, 
                                      a flamboyant pool, multi cuisine restaurant and AV facilities</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="card mt-3">
                                <img
                                src="../../../../../assets/OneDrive-2021-03-22/hotels/Harihareshwar Beach/Royale green.jpg"
                               class="card-img-top"
                                alt="..."
                                />  
                                  <div class="card-body">
                                    <h5 class="card-title">Royale Greens</h5>
                                    <p class="card-text">Royale Greens Resort by Harihareshwar Beach Resort is a Luxurious Resort at Harihareshwar.
                                       It has 72 Rooms, a Huge swimming pool, A large Restaurant,</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="card mt-3">
                                    <img
                                src="../../../../../assets/OneDrive-2021-03-22/hotels/Harihareshwar Beach/Royal Plams Villa.jpg"
                               class="card-img-top"
                                alt="..."
                                />  
                                  <div class="card-body">
                                    <h5 class="card-title">Royal Palms Villa</h5>
                                    <p class="card-text">Boasting garden views, Royal Palms Villa features accommodation with a terrace and a balcony, 
                                      around 3.1 km from Powai Lake. 
                                      This property offers a private pool and free private parking.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
            
                      <!--<a href=" " class="btn btn-primary mt-4">Book Destination!</a>
                        <a href="hotel-reservation-tarkarli" class="btn btn-danger ml-4 mt-4">Reserve Your Stay!</a>-->
                    </div>
                </div>
            </div>