.card-title-main{
    text-align: center;
    margin-top: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
}
.p1,.clearfix,.p3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-header{
    text-align: center;

}
.float-left,.float-right{
    border-image: 20px;
}