<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/Chikhaldhara Wild Life Sanctuary/chikhaldara-01.jpg" class="card-img"
                    alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Chikhaldara-Wildlife-Sanctuary!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    The Chikhaldara Wildlife Sanctuary is located at a height of around 1118m, in the district of
                    Amravati. It is the only hill station in Vidharbha
                    region and abounds in natural beauty. The sanctuary is the only place in Maharashtra, where coffee
                    is grown.

                    The Chikhaldara Wildlife Sanctuary is full of waterfalls and lakes, which lend an enchanting look to
                    the place. The sanctuary is quite close to the
                    well known Melghat Tiger Project situated in Dhakana- Kolkaz National Park.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Chikhaldhara Wild Life Sanctuary/chikhaldara-02.jpg" class="float-left"
                    height="350px" width="300px">
                <p>
                    The sanctuary got its name from Prince Kichaka, who was termed as a
                    villain in Mahabharata.

                    The prince was killed by Bheem and his body was thrown in the nearby valley. Thus the place came to
                    be known as Kichaka bara and was latter
                    known as Chikhaldara.

                    Fauna:-
                    The sanctuary is a home to various species of animals that includes Tiger, Sloth bear, Panther, Wild
                    dog, Wild boar, Sambhar etc.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Chikhaldhara Wild Life Sanctuary/Chikhaldhara-04.jpg"
                    class="float-right" height="350px" width="300px">
                <p>
                    Distance from Sonegaon: 204 Kms <br>

                    Timings: 7 AM to 7 PM.<br>

                    Distance from Mumbai (213 Kms) & Pune (110 Kms). <br>

                    How to reach:<br>

                    By Air: <br>

                    The nearest airport is at Sonegaon.<br><br>

                    By Rail: <br>
                    Trains arrive here from Achalpur, Badnera, Amravati, Pathrot and other cities.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states.
                    <br>

                    By Road: <br>
                    Private transport is more convenient if you would like to visit places around Chikhaldara Wildlife
                    Sanctuary.<br>


                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Chikhaldara Wildlife Sanctuary/Amruta Homestays.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Amruta Homestays</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Chikhaldara Wildlife Sanctuary/Triveni Restaurant Resort.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Triveni Resort
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Chikhaldara Wildlife Sanctuary/OYO 68011 Resort Shankarmuni.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Resort Shankarmuni
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Chikhaldara Wildlife Sanctuary/hotel harshawardhan.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel harshawardhan
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>