<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <body>
                <div class="card bg-dark text-white">
                    <img src="../../../assets/temples.jpg" class="card-img" alt="..." height="500px" width="130px">
                    <div class="card-img-overlay">
                      <h2 class="card-title">Welcome to the Forts side of Maharashtra</h2>
                      <p class="card-text">Explore and Enjoy the Amazing and Mesmarizing views of our beautiful Forts.</p>
                      <p><b>Each of the Fort have thier own stories of braves to tell!</b></p>
                    </div>
                  </div>
              </body> 
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/temples/Shirdi.jpg" class="card-img-top" alt="..." height="250px" width="250">
                    <div class="card-body">
                      <h5 class="card-title">Shirdi</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="shirdi" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/temples/Dagdusheth ganapathi/Dagdusheth2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dagdusheth</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="dagdusheth" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/temples/Bhimashankar Temple/Bhimashankar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bhimashankar</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="bhimashankar" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/temples/Ganapathipule temple/ganapathi1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ganpatipule</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="ganaptipule" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/temples/Moreshwar temple/Moreshwar.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Moreshwar</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="moreshwar" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mt-4">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
              