<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card-deck">
                <div class="card">
                    <img src="../../assets/plan-your-trip-written-on.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Plan-Destination..</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="" class="btn btn-outline-primary">Check it Now !</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/HTLBOOKING.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hotel-Reservation...</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"></p>
                        <a href="hotelview" class="btn btn-outline-primary ml-5">Book Now !</a>
                        <a href="hotels" class="btn btn-outline-danger ml-5"> Admin!</a>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Schemes and More...</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="" class="btn btn-primary">Check it Now !</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>