<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/temples/Ganapathipule temple/ganapathi 4.jpg" class="card-img" alt="..."
                    height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Ganpatipule!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    At a distance of 24 km from Ratnagiri, 152 km from Kolhapur, 193 km from Mahabaleshwar, 207 km from
                    Satara,
                    291 km from Lonavala,307 km from Pune, and 345 km from Mumbai, Ganpatipule is a small pilgrimage &
                    beach town located in the Ratnagiri district on the Konkan coast of Maharashtra in India.
                    This is one of the top Places to visit in Maharashtra and also one of the best places to visit near
                    Pune.

                    Ganpatipule can be visited along with Mahabaleshwar as part of Mahabaleshwar packages.
                    The town is mainly known for its 400 years old temple of Lord Ganapati which is the prime attraction
                    in Ganpatipule.
                    The idol of Ganesha is believed to be a monolith that was self-incarnated and discovered over 1600
                    years ago.
                    The Ganesha Temple in Ganpatipule is unique because it is one of the few temples in the country in
                    which the presiding deity faces west.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Ganapathipule temple/ganapathi1.jpg" class="float-left"
                    height="350px" width="300px">
                <p>
                    Known as 'Paschim Dwar Devata', it is one of the Ashta Ganapati Temples of India and among the
                    prominent temples in Maharashtra.
                    The temple is at the base of a hill, and pilgrims walk around (pradakshina) the hill as a mark of
                    respect.

                    Ganpatipule has one of the most spectacular beaches along the Konkan Coast in Maharashtra.
                    It is an ideal getaway that attracts peace-seekers, beach lovers, and pilgrims alike. Ganpatipule is
                    one of the only two white sand
                    beaches in Maharashtra, the other being Kashid Beach. The Ganpatipule Beach is clean and the sea is
                    also clear though swimming is not advisable because
                    of the rocky stretches. However, it is an ideal spot for sunbathing and mesmerizing sunsets.
                    Ganpatipule also offers water sports between
                    the months of November and May.

                    Ganpatipule has several resorts and hotels but the facilities offered by most hotels are ordinary.
                    State-owned MTDC also runs a holiday resort near the beach.
                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/temples/Ganapathipule temple/ganapathi2.jpg" class="float-right"
                    height="350px" width="300px">
                <p>
                    Distance from Kolhapur: 152 kms <br>

                    Timings: 24 Hrs<br>

                    How to reach:<br>

                    By Air: <br>
                    Mumbai Airport is the nearest airport, which is about 343 km from Ganpatipule. <br><br>

                    By Rail: <br>
                    Ratnagiri Railway Station is the nearest railhead about 30 km from Ganpatipule.
                    Ratnagiri has train connectivity with Mumbai, Goa, Patna, Pune, Kochi, Trivandrum, Delhi, Mangalore,
                    Tirunelveli, Bikaner,
                    Amritsar, Dehradun, Chandigarh, Kochuveli, Porbandar, Ajmer, Coimbatore, and Madgaon.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states.

                    By Road:<br>
                    Ganpatipule is well connected by bus with Ratnagiri, Mumbai, Pune, and Kolhapur.
                    <br>

                    Pro-Tip:<br>
                    The best time to visit Ganpatipule is from September to February while the peak season is from
                    November to January.<br>

                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Ganpatipule/Beachfront Villas.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Beachfront Villas</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Ganpatipule/Hotel Grand Ganesha.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Grand Ganesha
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/Temples hotels/Ganpatipule/Blue Ocean Resort & Spa.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Blue Ocean Resort & Spa
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/Temples hotels/Ganpatipule/Kaular Atithis Grand Kokan Resort.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Kaular Atithis Grand Kokan Resort
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>