<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/murud2.JPG" class="card-img" alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                  <h5 class="card-title-main">Welcome to Murud!</h5>
                </div>
              </div>
              <div class="p1 mt-2">
                  <p>Murud Beach is a vast expanse of black sand with clear bluish waters stretching almost 1.75 km along the coastline.
                    This is one of the famous beaches of Maharashtra and also one of the top places to visit in Alibaug.
                    The Murud Beach is the charming destination, where stretches of sand is surrounded by hills on three sides.
                    Rocky outcrops flank it to the north and south, while to the east lies the Murud Town and the hills beyond.
                    </p>
              </div>
              <div class="img mb-2">
                  <img src="../../../../../assets/murud3.jpg" height="250px" width="450px">
                  <div class="p2"><p>The view of the sunset is extremely beautiful and the adjoining island forts Janjira and Padmadurgad add to the beauty of the beach.
                    The beach boasts of gentle and soothing breeze round the clock, this helps the tourists have a relaxing time tanning themselves.
                    The beach has watersports and numerous boat trips in the area. This attracts many tourists and water sport lovers to the beach.</p>
                </div>
              </div>
              <div class="img2">
                  <div class="p3">
                      Nearby Special Visits:
                      <h3>Janjira Fort</h3>
                      <img src="../../../../../assets/forts/Janjira/Janjira-001.jpg" height="300px" width="300px">
                      <h3>Murud-janjira fort is one of the greatest architecture ever built.</h3>
                      <img src="../../../../../assets/forts/Janjira/Janjira-002.jpg">
                      <p>At a distance of 5 km from Murud - Janjira Fort and 48 km from Alibaug, Murud Beach is located on the shores of Arabian Sea at Murud
                        in Raigad district of Maharashtra.
                        Each and Every Wall beneath the fort has its own stroy to tell.The fort is a strong example of the greatest bravery battles and sacrifieces.
                        <a href="janjira">To know More About Janjira Click the Link</a>
                    </p>
                  </div>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img
                      src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Murud Marina Hotel.jpg"
                     class="card-img-top"
                      alt="..."
                      />  
                    <div class="card-body">
                      <img src="" alt="" srcset="">
                      <h5 class="card-title">Murud Marina Hotel</h5>
                      <p class="card-text">Situated in Murud, a few steps from Murud Beach,
                         Hotel Murud Marina features accommodation with a restaurant, free private parking, an outdoor swimming</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Rutu Enclave.jpg"
                   class="card-img-top"
                    alt="..." height="230px"
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Rutu Enclave</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                      <img
                      src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Aqua Arina Holiday Farm House.jpg"
                     class="card-img-top"
                      alt="..."
                      />  
                      <div class="card-body">
                        <h5 class="card-title">Aqua Arina Holiday Farm House</h5>
                        <p class="card-text">Set in Murud in the Maharashtra region, Aqua Arina Holiday Farm House offers accommodation with free private parking.
                           A children's playground can be found at the farm stay, along with a garden.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                      <img
                      src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/Hotel Grand Murud janjira.jpg"
                     class="card-img-top"
                      alt="..."
                      />  
                      <div class="card-body">
                        <h5 class="card-title">Hotel Grand Murud Janjira</h5>
                        <p class="card-text">Situated in Murud, within 200 metres of Murud Beach and 5 km of Murud Janjira Fort, Hotel Grand Murud janjira features accommodation with a restaurant and free WiFi as well as free private parking for...
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                      <img
                      src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/SPOT ON 43838 Hotel Red Rose.jpg"
                     class="card-img-top"
                      alt="..."
                      />  
                      <div class="card-body">
                        <h5 class="card-title">Hotel Red Rose</h5>
                        <p class="card-text">Hotel Red Rose offers accommodation in Deoria. 
                          All rooms boast a TV with cable channels and a private bathroom.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                      <img
                      src="../../../../../assets/OneDrive-2021-03-22/hotels/marud beach/SaffronStays Little Paradise.jpg"
                     class="card-img-top"
                      alt="..."
                      />  
                      <div class="card-body">
                        <h5 class="card-title">SaffronStays Little Paradise</h5>
                        <p class="card-text">SaffronStays Little Paradise offers pet-friendly accommodation in Murud. Free private parking is available on site. 
                          All units have views of the sea or garden..</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
            <!--<a href=" " class="btn btn-primary">Book Destination!</a>
            <a href=" hotel-reservation-murud" class="btn btn-danger ml-4">Reserve Your Stay!</a>-->
      </div>
    </div>
</div>