<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-12">
      <div class="card bg-dark text-white">
        <img src="../../assets/home-page.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Start Your Journey!</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container">
      <h1 class="nicdark_text_align_center nicdark_margin_top_60 nicdark_margin_bottom_10">OUR DESTINATIONS</h1>
      <h3 class="nicdark_text_align_center nicdark_margin_top_10 nicdark_margin_bottom_10">CHOOSE YOUR NEXT DESTINATION
      </h3>
      <div class="nicdark_divider_big nicdark_margin_bottom_10 nicdark_margin_top_20"></div>
      <div class="w-row">
        <div class="w-col w-col-3 w-clearfix"><img src="../../assets/HOMIE/alibaugh2.jpg"
            class="nicdark_section nicdark_margin_top_10 nicdark_margin_bottom_10"></div>
        <div class="w-col w-col-3 w-clearfix"><img src="../../assets/HOMIE/ganapathi3.jpg"
            class="nicdark_section nicdark_margin_top_10 nicdark_margin_bottom_10"></div>
        <div class="w-col w-col-3 w-clearfix"><img src="../../assets/HOMIE/Karnala Bird-3.jpg"
            class="nicdark_section nicdark_margin_top_10 nicdark_margin_bottom_10"></div>
        <div class="w-col w-col-3 w-clearfix"><img src="../../assets/HOMIE/Mahabaleshwar01.jpg"
            class="nicdark_section nicdark_margin_top_10 nicdark_margin_bottom_10"></div>
      </div>
  </div>
</div>