<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/Sanjay Gandhi Animal Sanctuary/sanjay-gandhi-national-park-02.jpg"
                    class="card-img" alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                    <h5 class="card-title-main">Welcome to Sanjay-Gandhi Wildlife Sanctuary!</h5>
                </div>
            </div>

            <div class="p1 mt-3">
                <p>
                    Sanjay Gandhi National Park, previously known as Borivali National Park in Mumbai is one of the
                    popular picnic spots for locals as well as visitors
                    of the city. The park covers about 20% of Mumbai’s geographical area and invites nature lovers to
                    experience greenery, wildlife, rocky cliffs, caves
                    and a number of tourist attractions located inside the park.

                    With an area of 103 square kilometres, Sanjay Gandhi National Park is one of the largest parks
                    situated within the city limits and is also
                    believed to be one of Asia’s most visited parks.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Sanjay Gandhi Animal Sanctuary/sanjay-gandhi-national-park-01.jpg"
                    class="float-left" height="350px" width="300px">
                <p>
                    The national park is home to a surprising number of two hundred and fifty-four species of birds,
                    forty species of mammals, seventy-eight species of reptiles and amphibians, about one fifty species
                    of butterflies and over a staggering 1,300 species
                    of plants.

                    The park houses animals like leopards, deer, flying fox, boars along with beautiful birds like
                    butterflies, kingfisher, sunbirds. Inside the forest,
                    there are two artificial lakes. These lakes invite a number of migratory birds every year and also
                    have crocodiles wandering at its shore.

                </p>
            </div>
            <div class="clearfix">
                <img src="../../../../../assets/Sanjay Gandhi Animal Sanctuary/sanjay-gandhi-national-park--05.jpg"
                    class="float-right" height="350px" width="300px">
                <p>
                    Timings: 4:15 AM to 11 PM.<br>

                    Distance from Navy Nagar, near southern tip of Mumbai: 45 Kms<br>

                    How to reach:<br>

                    By Air: <br>
                    Nearest Airport: Mumbai (15kms). <br><br>

                    By Rail: <br>
                    Mumbai to Borivali is 30 kms by train on western railway route. Sub urban trains to Borivali are
                    available on Western Railway on every 5 minutes.<br><br>

                    By Bus:<br>
                    State-run and private bus services are available from many cities in Maharashtra and other states.
                    <br>

                    By Road: <br>
                    Borivali is near Mumbai octroi post on Mumbai - Ahemdabad highway.<br>

                </p>
            </div>
            <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Sanjay Gandhi Wildlife Sanctuary/HOTEL ARCHANA RESIDENCY.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Archana Residency </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Sanjay Gandhi Wildlife Sanctuary/Fortune Park Lakecity.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Fortune Park Lakecity
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Sanjay Gandhi Wildlife Sanctuary/Hotel Tip Top Plaza.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Tip Top Plaza
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mt-3">
                                <img src="../../../../../assets/WILD SANCTUARY Hotels/WILD SANCTUARY Hotels/Sanjay Gandhi Wildlife Sanctuary/The Westin Mumbai Garden City.jpg"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">The Westin Mumbai Garden City
                                    </h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Book Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>