<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/beaches/dapoli beach/dapoli1.jpg" class="card-img" alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                <h5 class="card-title-main">Welcome to Dapoli!</h5>
                </div>
              </div>

              <div class="p1 mt-3">
                  <p>At a distance of 11 km from Dapoli, 12 km from Anjarle, 69 km from Chiplun, Murud-Dapoli Beach is a serene beach situated near Dapoli
                    in the Ratnagiri district of Maharashtra. Located between Hernai and Karde beaches, it is one of the most visited beaches in Maharashtra, and
                    among the must-visit places as part of Chiplun Tour.
                    
                    Commonly called Murud-Harnai, Murud is a small town located on the rugged Konkan coastline.
                    A long, scenic stretch of Murud Beach with swaying palms is the main attraction here.
                    Murud Beach is made of very soft sand and is safe for swimming. The sunset at the beach is mesmerizing and
                    makes up for the most picture-perfect moment in this destination. 
                    
                    </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/beaches/dapoli beach/dapoli3.jpg" class="float-left" height="350px" width="300px">
                <p>Activities like parasailing, dune buggy rides,
                    camel rides, horse-cart rides, and water scooters are available. Dolphin watching boats leave early in the morning
                    to take tourists out into the sea to watch dolphins. One can also dig into some local food items at the many eateries at the beach.
                    There is also an ancient Durga Devi temple near Murud Beach, which was built in the 18th century.
                    The wooden carvings of the temple are worth watching. A large bell hangs above the left side of the entrance.
                    It is said that after winning the battle of Vasai, Chimaji Appa - the great Maratha warrior had brought that bell from one of the churches.
                    The temple also has a lovely pond with refreshingly cold water behind.                    
                </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/beaches/hareshwar beach/hari2.jpg" class="float-right" height="350px" width="300px">
                <p>
                  Timings: 6 AM - 6 PM<br>

                  Distance (From Chiplun): 69 Kms<br><br>

                  How to reach:<br>

                  By Road:<br>
                  Private transport is more convenient if you would like to visit places around Dapoli Beach.<br><br>

                  By Bus:<br>
                  State-run and private bus services are available from many cities in Maharashtra and other states.<br>


                </p>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels within 10kms</h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Dapoli Beach/Dapoli Beach.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Dapoli Beach House</h5>
                      <p class="card-text">Situated in Dapoli, The Beach House provides a restaurant and garden. 
                        Guests can enjoy sea views. At the hotel, the rooms are fitted with a balcony
                        . Every room is fitted with a private bathroom..</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Dapoli Beach/Hotel Sadhana.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Hotel Sadhana</h5>
                      <p class="card-text">Hotel Sadhana Executive offers free WiFi in lobby and rooms with air conditioning in Dapoli.
                         Boasting room service, this property also provides guests with an outdoor pool.
                      </p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Dapoli Beach/Lotus A Eco Beach Resort Dapoli Murud.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Lotus A Eco Beach Resort</h5>
                        <p class="card-text">Features sea views, free WiFi and free private parking, located in Dapoli.
                           All units are air conditioned and include a seating and/or dining area..</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Dapoli Beach/The Fern Samali Resort.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">The Fern Samali Resort</h5>
                        <p class="card-text">Set amidst swaying palm trees, The Fern Samali Resort offers a peaceful retreat.
                           Just a 5-minute drive from Dapoli Beach, the property offers an outdoor pool, 2 dining options and free Wi-Fi.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Dapoli Beach/Exotica Suvarna Samudra.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Exotica Suvarana Samudra </h5>
                        <p class="card-text">Featuring free WiFi, a year-round outdoor pool and a barbecue, 
                          Exotica Suvarna Samudra offers accommodation in Dapoli.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/OneDrive-2021-03-22/hotels/Dapoli Beach/Areca farm.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Areca Farm Beach Resort</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>